$light-color: #e7e8ee;
$primary-color: #5a6794;
$secondary-color: #8794c0;
$emphasis-color: #d8cdb0;
$dark-color: #1c2135;
$white: #fff;

@mixin triangle ($size, $color, $direction) {
  height: 0;
  width: 0;

  $width: nth($size, 1);
  $height: nth($size, length($size));

  $foreground-color: nth($color, 1);
  $background-color: transparent !default;
  @if (length($color) == 2) {
    $background-color: nth($color, 2);
  }

  @if ($direction == up) {

    $width: calc($width / 2);
    border-left: $width solid $background-color;
    border-right: $width solid $background-color;
    border-bottom: $height solid $foreground-color;
  }

  border-bottom: $height solid $foreground-color;
  border-right: $width solid $background-color;

}

.card {
  width: 230px;
  max-height: 450px;
  background: $white;
  border: 2px solid $dark-color;
  border-radius: 0;
  box-shadow: 4px 4px $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

  &:last-child {
    justify-content: cover;
  }

  // Ribbon

  .ribbon {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    &:before, &:after {
      content: "";
      position: absolute;
    }
  
    width: 44px;
    height: 50px;
    top: -7px;
    left: 10px;
    i{
      position: absolute;
      top: 26px;
      color: $white;
    }
  }

  .blue {
    background: #84A69D;
    &:before {
      @include triangle(6px, darken(#84A69D, 15%), down-left);
      right: -6px;
    }
    &:after {
      @include triangle(45px 30px, transparent #84A69D, up);
      bottom: -30px;
    }
  }
  .purple {
    background: #6A1D2F;
    &:before {
      @include triangle(6px, darken(#6A1D2F, 15%), down-left);
      right: -6px;
    }
    &:after {
      @include triangle(45px 30px, transparent #6A1D2F, up);
      bottom: -30px;
    }
  }
  .orange {
    background: #EB6424;
    &:before {
      @include triangle(6px, darken(#EB6424, 15%), down-left);
      right: -6px;
    }
    &:after {
      @include triangle(45px 30px, transparent #EB6424, up);
      bottom: -30px;
    }
  }

  .card-img {
    width: 100%;
    height: 260px;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 0;
    // z-index: 1;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $dark-color;
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $primary-color;
  }
  
  .card-divider {
    width: 100%;
    border: 2px solid $dark-color;
    margin: .1em 0;
  }
  
  .card-footer {
    width: 100%;
    border-top: 2px solid $secondary-color;
    margin: .1em 0;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    .icons {
      margin-top: .4em;
      font-size: 1.3em;
      color: $dark-color;
      text-decoration: none;
  
      &:hover {
        cursor: pointer;
        transition: transform 0.3s;
        transform: translateY(-5px);
      }
    }
  }

  &:hover {
    cursor: pointer;
    transition: transform 0.3s;
    transform: translateY(-5px);
  }
}


