$light-color: #e7e8ee;
$primary-color: #5a6794;
$secondary-color: #8794c0;
$emphasis-color: #d8cdb0;
$dark-color: #1c2135;
$white: #fff;

.card {
  width: 230px;
  max-height: 450px;
  background: $white;
  border: 2px solid $dark-color;
  border-radius: 0;
  box-shadow: 4px 4px $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;

  &:last-child {
    justify-content: cover;
  }

  .card-img {
    width: 100%;
    height: 260px;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: $dark-color;
  }
  
  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: $primary-color;
  }
  
  .card-divider {
    width: 100%;
    border: 2px solid $dark-color;
    margin: .1em 0;
  }
  
  .card-footer {
    width: 100%;
    border-top: 3px solid $secondary-color;
    margin: .1em 0;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    .icons {
      margin-top: .4em;
      font-size: 1.3em;
      color: $dark-color;
      text-decoration: none;
  
      &:hover {
        cursor: pointer;
        transition: transform 0.3s;
        transform: translateY(-5px);
      }
    }
  }

  &:hover {
    cursor: pointer;
    transition: transform 0.3s;
    transform: translateY(-5px);
  }
}
