@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

$font-primary: 'Nunito', sans-serif;
$primary: #5a6794;
$black: #000;
$white: #fff;
$light-color: #e7e8ee;
$primary-color: #5a6794;
$secondary-color: #8794c0;
$emphasis-color: #d8cdb0;
$dark-color: #1c2135;

@mixin gradient-background(){
	background: rgba(247,89,89,1);
	background: -moz-linear-gradient(-45deg, rgba(247,89,89,1) 0%, rgba(243,85,135,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247,89,89,1)), color-stop(100%, rgba(243,85,135,1)));
	background: -webkit-linear-gradient(-45deg, rgba(247,89,89,1) 0%, rgba(243,85,135,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(247,89,89,1) 0%, rgba(243,85,135,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(247,89,89,1) 0%, rgba(243,85,135,1) 100%);
	background: linear-gradient(to bottom, #b8c8ff, #a0afe3, #8896c8, #717eae, #5a6794);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75959', endColorstr='#f35587', GradientType=1 );
}

body{
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #f8f9fd;
	color: lighten($black,50%);
}

.container-login {
	display: flex;
	justify-content: center;
}

.login {
	margin-top: 20vh;
	width: 80%;
	display: flex;
}

a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
	color: $black;
}

.bg-primary{
	background: $primary !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	color: $black;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wrap{
	width: 100%;
	// border-radius: 5px;
	-webkit-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
	box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
}
.text-wrap,.login-wrap{
	width: 50%;
	// @include media-breakpoint-down(md){
	// 	width: 100%;
	// }
}

.text-wrap{
	@include gradient-background();
	color: $white;
	.text{
		h2{
			font-weight: 900;
			color: $white;
		}
	}
}

.login-wrap{
	position: relative;
	background: $white;
	h3{
		font-weight: 300;
	}
}


.form-group{
	position: relative;
	.label{
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $black;
		font-weight: 700;
	}
	a{
		color: lighten($black,50%);
	}
}

input.form-control {
    border: 1px solid $dark-color;
    border-radius: 0px;
}

//FORM CONTROL
.form-control {
	height: 48px;
	background: $white;
	color: $black;
	font-size: 16px;
	box-shadow: none;
	border: 1px solid transparent;
	padding-left: 20px;
	padding-right: 20px;
	// @include transition();
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0,0,0,.2) !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0,0,0,.2) !important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(0,0,0,.2) !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0,0,0,.2) !important;
	}
	&:focus, &:active {
		outline: none !important;
		box-shadow: none;
		background: rgba(0,0,0,.07);
		border-color: transparent;
	}
}

//CHECKBOX STYLE
.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}

.form-control {
    
    &:focus {
        border: 3px solid $secondary-color;
    }
  }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color:rgba(0,0,0,.1);
  font-size: 20px;
  margin-top: -4px;
//   @include transition(.3s);
}

/* Show the checkmark when checked */
.checkbox-wrap{
	input:checked ~ .checkmark:after {
	  display: block;
	  content: "\f14a";
	  font-family: "FontAwesome";
	  color: rgba(0,0,0,.2);
	}
}

.checkbox-primary{
  color: $primary;

  input:checked ~ .checkmark:after {
	  color: $primary;
	}
}


//BUTTON
.btn {
	cursor: pointer;
	// box-shadow: none!important;
    box-shadow: $dark-color 4px 4px 0 0;
	font-size: 15px;
	padding: 10px 20px;
    height: fit-content;
    margin-bottom: 15px;
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: $white;
		border: 1px solid $primary;
		color: $black;
        &.submit {
            padding: 3px;
        }
		&:hover {
			color :$white;
            background-color: $secondary-color;
            border: 2px solid $dark-color;
            color: #fff;
          
            &:active {
                box-shadow: $dark-color 1px 1px 0 0!important;
                transform: translate(3px, 3px);
                background-color: $emphasis-color!important;
                color: $dark-color!important;
                border: 2px solid $dark-color!important;
            }
		}
		&.btn-outline-primary {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
	&.btn-white {
		background: $white;
		border: 1px solid $white;
        box-shadow: $white 4px 4px 0 0;
		color: $white;
        border-radius: 0px;
		&:hover {
			border: 1px solid $white;
			background: transparent;
			color :$white;
		}
		&.btn-outline-white {
			border: 1px solid $white;
			background: transparent;
			color :$white;
			&:hover {
				border: 1px solid $dark-color;
				background: $white;
				color :$black;
                box-shadow: $dark-color 4px 4px 0 0!important;
                &:active {
                    box-shadow: $dark-color 1px 1px 0 0!important;
                    transform: translate(3px, 3px);
                    background-color: $emphasis-color!important;
                    color: $dark-color!important;
                    border: 2px solid $dark-color!important;
                }
			}
		}
	}
}

input[type="file"] {
	padding: 20px 0;

	&::file-selector-button {
		border-radius: 0;
		border: none;
		background-color: $secondary-color;
		color: $white;
		padding: 12px;
		margin-right: 10px;

		&:hover{
			background-color: $primary-color;
			cursor: pointer;
		}
	}
}
span.checkmark::after {
    border-radius: 0px!important;
}

.form-select {
	border-radius: 0;
	border: 1px solid $dark-color;
	font-size: 16px;
	height: 48px;
}

.field-icon {
	float: right;
	top: -25px;
	right: 15px;
	position: relative;
	z-index: 2;
  }
  

@media screen and (max-width: 580px) {
	.login {
		flex-direction: column;
		> * {
			width: 100%;
		  }
	}
}