.btn-primary {
    background-color: #ebd4cc;
    border: 2px solid #514945;
    border-radius: 30px;
    box-shadow: #514945 4px 4px 0 0;
    color: #514945;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.btn-primary:hover {
    background-color: #ffffff;
    border: 2px solid #514945;
    color: #514945;
}

.btn-primary:active {
    box-shadow: #514945 1px 1px 0 0!important;
    transform: translate(3px, 3px);
    background-color: #ebd4cc!important;
    color: #514945!important;
    border: 2px solid #514945!important;
}